PORT=sua_porta_server_disponivel

# Configurações do Banco
DB_HOST=ip_host(ou localhost)
DB_USER=usuario_mysql
DB_PASSWD=senha_usuario
DB_PORT=porta_mysql
DB_NAME=nome_banco

# Configurações Criptografia
JWT_SECRET=chave_secreta_JWT
ALGORITMO=algoritmo_criptografia

APP_FRONT_URL=url_front

VERSION=versao_aplicacao(DEV ou PROD)